* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-porstion {
  /* background-image: url(assets/hero_img.jpg.webp); */
  /* background-image: url(assets/Abstract\ Profile\ Photo\ Instagram\ Post.png); */
  /* background-size: 100vw 100vh; */

  /* aa rakhvanu hai miche nu // */

  /* background-color: rgb(53, 41, 83);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: auto; */
}
.center-text {
  /* text-align: center; */
  /* padding: 15%; */
}
.animate-text {
  /* height: 120vh; */
}
/* h1 {
  text-align: center;
}
h3 {
  text-align: center;
} */

.left-sideimg1 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  height: auto;
  overflow-x: clip;
}

.left-sideimg1 img {
  /* background-size: cover; */
  /* background-position: center; */

  /* height: 100vh;
  width: auto; */

  height: 100%;
  width: 100%;
  object-fit: cover;
  /* margin: 0 12px 0 0px; */
}
.progress {
  height: 4px;
  overflow: visible;
  margin-bottom: 26px;
  position: relative;
}

.skill span {
  color: black;
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  line-height: 10px;
  right: 0;
  /* right: -1.4em; */
}

.img-textpart {
  background-color: rgba(7, 9, 9, 0.815);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* height: calc(); */
  height: 100vh;
  width: 100%;
}

.ani-text1 {
  height: 100vh;
}
.animate-text {
  text-align: start;
  margin-top: 22%;
  justify-content: center;
}

.ani-img {
  height: 100vh;
  /* width: 56vw; */
  position: static;
  z-index: 100;
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}
.second-portion {
  position: absolute;
}
.ani-text1 {
  background-color: blue;
  height: 100vh;
  /* background-size: cover; */
}
