* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progress {
  height: 4px;
  overflow: visible;
  margin-bottom: 26px;
  position: relative;
}

.skill span {
  color: black;
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  line-height: 10px;
  right: 0;
}
h3 span {
  color: aqua;
}

.ani-text1 {
  height: 100vh;
}
.animate-text {
  text-align: start;
  justify-content: center;
}

.second-portion {
  position: absolute;
}
.ani-text1 {
  height: 100vh;
}
.home-content h3 {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-child(3) {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.ani-img img {
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 0.7s, 2s;
  opacity: 0;
}
.service-part {
  padding: 70px 0;
}
.items-3 {
  flex-wrap: wrap;
}

.service-items {
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.months {
  border: 1px solid black;
  border-radius: 10%;
  padding: 5px 20px;
}
/* .first-thing {
  border-bottom: dashed red;
} */
/* for animation */
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
