* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-sideimg1 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  height: auto;
  overflow-x: clip;
}

.left-sideimg1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.progress {
  height: 4px;
  overflow: visible;
  margin-bottom: 26px;
  position: relative;
}

.skill span {
  color: black;
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  line-height: 10px;
  right: 0;
}

.home-content h3 span {
  color: #0ef;
}

.img-textpart {
  background-color: rgba(7, 9, 9, 0.815);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.ani-text1 {
  height: 100vh;
}
.animate-text {
  text-align: start;
  margin-top: 22%;
  justify-content: center;
}

.ani-img {
  height: 100vh;

  position: static;
  z-index: 100;
  /* background-color: aqua; */
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}
.second-portion {
  position: absolute;
}
.ani-text1 {
  /* background-color: blue; */
  height: 100vh;
}
